{% extends "admin-dash-base.html" %} {% block title %}Admin-Search{% endblock %}
{% block body %}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form action="{{ url_for('admin_search_results') }}" method="GET">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                    <!-- Search Box -->
                    <input 
                        type="text" 
                        class="form-control mb-3 mb-md-0 searchbox flex-fill" 
                        id="query" 
                        name="query" 
                        placeholder="Search..." 
                        aria-label="Search" >

                    <!-- Filter Dropdown -->
                    <select 
                        class="form-select mb-3 mb-md-0 searchfilter flex-fill" 
                        name="parameter" 
                        id="parameter" 
                        aria-expanded="false" 
                        style="border-radius: 6px; height: 100%;">
                        <option selected>Filter</option>
                        <option value="request">Service Requests</option>
                        <option value="customer">Customer</option>
                        <option value="professional">Professional</option>
                    </select>

                    <!-- Search Button -->
                    <button 
                        class="btn btn-outline-dark searchbutton" 
                        type="submit">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container mt-5">
    <h3 class="tabletitle">Search Results</h3>
    <div class="searchtable">
        <table class="table table-bordered table-striped">
            <thead>
                {% if all_requests %}
                    <tr>
                        <th>ID</th>
                        <th>Service Name</th>
                        <th>Assigned Professional</th>
                        <th>Customer Name</th>
                        <th>Status</th>
                        <th>Reviews (if any)</th>
                        <th>Ratings (if any)</th>
                    </tr>

                {% elif all_professionals %}
                    <tr>
                        <th>ID</th>
                        <th>Professional Name</th>
                        <th>Professional Email</th>
                        <th>Pin Code</th>
                        <th>Service</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>

                {% elif all_customers %}
                    <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Customer Email</th>
                        <th>Pin Code</th>
                        <th>Action</th>
                        <th>Status</th>

                    </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if all_requests %}
                    {% for request in all_requests %}
                    <tr>
                        <td>{{ request.id }}</td>
                        <td>{{ request.service.name }}</td>
                        <td>{{ request.professional.name }}</td>
                        <td>{{ request.customer.name }}</td>
                        <td>
                            {% if request.status == 0 %}
                                Pending
                            {% elif request.status == 1 %}
                                Accepted
                            {% elif request.status == 2 %}
                                Rejected
                            {% elif request.status == 3 %}
                                Closed
                            {% endif %}
                        </td>
                        {% for reviews in all_reviews %}
                            {% if reviews.request_id == request.id %}
                                <td>{{ reviews.review }}</td>
                                <td>{{ reviews.rating }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}

                {% elif all_professionals %}
                    {% for professional in all_professionals %}
                        {% if professional.isactive == 1 or professional.isactive == 3 %}
                            <tr>
                                <td>{{ professional.id }}</td>
                                <td>{{ professional.name }}</td>
                                <td>{{ professional.email  }}</td>
                                <td>{{ professional.pincode }}</td>
                                <td>{{ professional.service }}</td>
                                <td>
                                    <form action="{{ url_for('unblock_professional', id=professional.id) }}" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-outline-success">
                                            <i class="fa-regular fa-circle-check"></i> Unblock
                                        </button>
                                    </form>

                                    <form action="{{ url_for('block_professional', id=professional.id) }}" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-outline-danger">
                                            <i class="fa-solid fa-ban"></i> Block
                                        </button>
                                    </form>
                                </td>

                                <td>
                                    {% if professional.isactive == 1 %}
                                        Active
                                    {% elif professional.isactive == 3 %}
                                        Blocked
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                {% endfor %}
                    

                {% elif all_customers %}
                    {% for customer in all_customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email  }}</td>
                        <td>{{ customer.pincode }}</td>
                        <td>
                            <form action="{{ url_for('unblock_customer', id=customer.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-outline-success">
                                    <i class="fa-regular fa-circle-check"></i> Unblock
                                </button>
                            </form>

                            <form action="{{ url_for('block_customer', id=customer.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="fa-solid fa-ban"></i> Block
                                </button>
                            </form>
                        </td>

                        <td>
                            {% if customer.isactive == 1 %}
                                Active
                            {% elif customer.isactive == 0 %}
                                Blocked
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                
                {% else %}
                    <tr>
                        <td class="text-center" colspan="6">No Result Found !</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>





{% endblock %}