{% extends "admin-dash-base.html" %} {% block title %}Admin-Search{% endblock %}
{% block body %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control  searchbox" placeholder="Search..." aria-label="Search">
                
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Service</a></li>
                    <li><a class="dropdown-item" href="#">Professionals</a></li>
                    <li><a class="dropdown-item" href="#">Customers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h3 class="tabletitle">Search Results</h3>
    <div class="searchtable">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Customer Email</th>
                    <th>Pin Code</th>
                    <th>Date</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jane Smith</td>
                    <td>jane@example.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mike Johnson</td>
                    <td>mike@example.com</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Chris Brown</td>
                    <td>chris@example.com</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Lisa White</td>
                    <td>lisa@example.com</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Tom Hardy</td>
                    <td>tom@example.com</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Emma Watson</td>
                    <td>emma@example.com</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>David Miller</td>
                    <td>david@example.com</td>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>





{% endblock %}