{% extends "professional-dash-base.html" %} {% block title %}Professional-Search{% endblock %}
{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{{ url_for('professional_search_results') }}" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control searchbox" id='query' name="query" placeholder="Search..." aria-label="Search" style="border-right: none;">
                    
                    <div class="input-group-append" style="display:flex; border-top:1px solid black; border-bottom:1px solid black;">
                        <select class="btn btn-outline-dark parameter form-select" name='parameter' onchange="ifdate()" id='parameter' type="button" aria-expanded="false" style="border-radius: 0%; height:100%; width:125px;  border-top: none; border-bottom: none; border-left: none;" >
                            <option selected> Filter</option>

                            <option value="date"> DATE </option>
                            <option value="pincode">PINCODE </option>
                            <option value="rating"> RATING </option>
                        </select>

                    </div>
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>





<div class="container mt-5">
    <h3 class="tabletitle">Search Results</h3>
    <div class="searchtable">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Customer Email</th>
                    <th>Pincode</th>
                    <th>Request Date</th>
                    <th><i class="fa-solid fa-star"></i> Rating</th>
                </tr>
            </thead>
            <tbody>
                {% if results %}
                    {% for service_request, customer, review in results %}
                        <tr>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.pincode }}</td>
                            <td>{{service_request.request_date}}</td>
                            <td>{{ review.rating if review else 'No Rating' }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No results found...</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
    </div>
</div>




<!-- script for js -->
<script>
    function ifdate() {
        const parameter = document.getElementById('parameter').value;
        const queryInput = document.getElementById('query');

        if (parameter === 'date') {
            queryInput.type = 'date';
            queryInput.placeholder = 'Select Date';
        } else {
            queryInput.type = 'text';
            queryInput.placeholder = 'Search...';
        }
    }
</script>

{% endblock %}